button {
  width: 100%;
  max-width: 200px;
  padding: $gap-small;
  background-color: $green;
  color: $white;
  text-transform: capitalize;
  text-align: center;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  transition: opacity $transition-time;

  &:hover:enabled {
    opacity: 0.6;
  }

  &[disabled],
  .disabled {
    background-color: $grey-2;
    cursor: auto;
  }
}
