@mixin media-breakpoint-down($size) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin center-aligned($is-inline: false) {
  @if $is-inline {
    display: inline-flex;
  } @else {
    display: flex;
  }
  justify-content: center;
  align-items: center;
}
