// colors
$white: #fff;
$black: #000;
$light-grey: #f6f7f9;
$light-grey-2: #e8ecf2;
$grey: #f5f6f8;
$grey-2: #dbe0e8;
$dark-grey: #61636e;
$green: #00d182;

// fonts
$font-xxsmall: 0.625rem; // 10px
$font-xsmall: 0.75rem; // 12px
$font-small: 0.875rem; // 14px
$font-normal: 1rem;
$font-large: 1.25rem; // 20px
$font-xlarge: 1.5rem; // 24px

// sizes
$gap-xsmall: 0.25rem; // 4px
$gap-small: 0.625rem; // 10px
$gap-normal: 1rem;
$screen-xsmall: 400px;
$screen-small: 640px;
$screen-medium: 1024px;
$screen-large: 1280px;
$border-radius: 8px;
$header-height: 50px;

// others
$transition-time: 300ms;
$box-shadow: 0 3px 4px rgba($black, 0.2);
